<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Student Nav Bar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="profile-page-student" routerLink="/profile-page-student" routerLinkActive="active-link">Profile Page</a>
      <a mat-list-item href="manage-educations" routerLink="/manage-educations" routerLinkActive="active-link">Manage Education</a>
      <a mat-list-item href="performance" routerLink="/performance" routerLinkActive="active-link">Performance</a>
      <a mat-list-item href="list-of-parents" routerLink="/list-of-parents" routerLinkActive="active-link">List of Parents</a>
      <a mat-list-item href="logout" >Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Student POV</span>
    </mat-toolbar>

    <!-- Contents goes here -->
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
