.main-container {
    width: 100%;
    height: 100vh;
}

.form-add {
    margin-top: 10px;
}

.inner {
    display: table;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 20px 20px 20px 20px;
    border-radius: 24px;
    color: black;
    font-size: large;
}

input[type=submit] {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 5px 5px 5px 5px;
    background-color: chartreuse;
    border-radius: 24px;
    font-weight: bold;
}