.add-edu {
    text-decoration: none;
    font-weight: 500;
    color: black;
    background-color: blueviolet;
    padding: 5px 5px 5px 5px;
    border-radius: 24px;
}

.add-edu:hover {
    opacity: .6;
    color: white;
}