

  <div class="main">
    <div *ngIf="student == undefined">
       <!-- <div *ngIf="parent == undefined"> -->
        <mat-card>
            <mat-card-content>
                <mat-progress-spinner
                    [color]="color"
                    [mode]="mode" >
                </mat-progress-spinner>
            </mat-card-content>
        </mat-card>
       <!-- </div> -->
    </div>
    <div *ngIf="student != undefined" class="">
                <div *ngFor="let students of student; let i = index" class="education-table">
                    <hr>
                        <table class="inner" style="height: 250px">
                            <thead>
                                <tr>
                                    <th colspan="3"><h2>Child's Name : {{ students.name }}</h2></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="3"><img src="{{ students.profilePicURL }}" alt="Profile Picture"></th>
                                </tr>
                                <tr>
                                    <th align= "left" style="width:150px; padding: 20px;">Child ID</th>
                                    <td>:</td>
                                    <td>{{ students.id }}</td>
                                </tr>
                                <tr>
                                    <th align= "left" style="width:150px; padding: 20px;">Phone Number</th>
                                    <td>:</td>
                                    <td>{{ students.phoneNo }}</td>
                                </tr>
                                <tr>
                                    <th align= "left" style="width:150px; padding: 20px;">Gender</th>
                                    <td>:</td>
                                    <td>{{ students.gender }}</td>
                                </tr>
                                <tr>
                                    <th align= "left" style="width:150px; padding: 20px;">Birth Date</th>
                                    <td>:</td>
                                    <td>{{ students.birthDate.toString().substring(0,10) }}</td>
                                </tr>
                                <tr>
                                    <th align= "left" style="width:150px; padding: 20px;">Email</th>
                                    <td>:</td>
                                    <td>{{ students.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    <!-- </div> -->

                
                        <hr>
                    </div>
        <!-- </div> -->
    </div>
</div>
