<div class="main-container">
    <h1><a style="color: aliceblue;" href="manage-educations?id={{studentId}}">MANAGE EDUCATIONS</a> >>> <a style="color: aliceblue;" href="manage-semesters?educationId={{educationId}}&studentId={{studentId}}">MANAGE SEMESTERS</a> >>> ADD NEW SEMESTERS</h1>

    <div class="inner">
        <form (ngSubmit)="onSubmit()" #semForm="ngForm">
            <table>
                <thead>
                    <tr><th colspan="3"><h1>Semester Form</h1></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <th align="left">Semester</th>
                        <td>:</td>
                        <td>
                            <input type="number" class="form-control" id="semesterNo"
                                required
                                [(ngModel)]="semesterForm.semesterNo" name="semesterNo"
                                #semesterNo="ngModel"
                                size="50"
                                placeholder="1"
                                min="1"
                                max="99"
                                step="1">
                        </td>
                    </tr>
                    <tr>
                        <th align="left">Duration (In Week)</th>
                        <td>:</td>
                        <td>
                            <input type="number" class="form-control" id="durationInWeek"
                                required
                                [(ngModel)]="semesterForm.durationInWeek" name="durationInWeek"
                                #durationInWeek="ngModel"
                                size="50"
                                placeholder="1"
                                min="1"
                                max="99"
                                step="1">
                        </td>
                    </tr>
                    <tr>
                        <th align="left">Targeted GPA</th>
                        <td>:</td>
                        <td>
                            <input type="number" class="form-control" id="targetedGPA"
                                required
                                [(ngModel)]="semesterForm.targetedGPA" name="targetedGPA"
                                #targetedGPA="ngModel"
                                size="50"
                                placeholder="4.00"
                                min="0.00"
                                max="4.00"
                                step="0.01">
                        </td>
                    </tr>
                    <tr>
                        <th align="left">Achieved GPA</th>
                        <td>:</td>
                        <td>
                            <input type="number" class="form-control" id="achievedGPA"
                                required
                                [(ngModel)]="semesterForm.achievedGPA" name="achievedGPA"
                                #achievedGPA="ngModel"
                                size="50"
                                placeholder="4.00"
                                min="0.00"
                                max="4.00"
                                step="0.01">
                        </td>
                    </tr>
                    <tr>
                        <th align="left">Status</th>
                        <td>:</td>
                        <td>
                            <select class="form-control" id="semesterStatus"
                                    required
                                    [(ngModel)]="semesterForm.semesterStatus" name="semesterStatus"
                                    #degreeLevel="ngModel">
                                <option *ngFor="let stat of status" [value]="stat">{{stat}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <input type="submit" value="ADD">
                        </th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
